<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
    <div class="col">

        @if ({person:person$|async, err: personError$|async}; as data) {
            @if (!data.err) {
                <div class="alert alert-success" role="alert">
                    Creado el usuario de forma correcta 
                  </div>
            }
            @else if (data.err) {
                <div class="alert alert-danger" role="alert">
                    {{data.err.message}}
                  </div>
            }
            
        }
       

        <form [formGroup]="myForm" (ngSubmit)="submit()">

            <div class="row mb3">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Nombre del usuario"
                    formControlName="name"
                    >
                    @if (ifValidField('name')) {
                        <span class="form-text text-danger">
                            Debe ser en formato de nombre y apellido
                        </span>
                    }
                    

                </div>
            </div>

            <div class="row mb3">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="e,ao;" class="form-control" placeholder="Email del usuario"
                    formControlName="email"
                    >

                    @if (ifValidField('email')) {
                        <span class="form-text text-danger">
                            Es requerido el email
                        </span>
                    }

                </div>
            </div>

            <div class="row mb3">
                <label class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Login del usuario"
                    formControlName="username"
                    >

                    @if (ifValidField('username')) {
                        <span class="form-text text-danger">
                            No puede usar ese username
                        </span>
                    }

                </div>
            </div>

            <div class="row mb3">
                <label class="col-sm-3 col-form-label">Contraseña</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" placeholder="Contraseña del usuario"
                    formControlName="password"
                    >
                    @if (ifValidField('password')) {
                        <span class="form-text text-danger">
                            La contraseña debe tener 6 caracteres
                        </span>
                    }

                </div>
            </div>

            <div class="row mb3">
                <label class="col-sm-3 col-form-label">Confirmar contraseña</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" placeholder="Confirmar contraseña del usuario"
                    formControlName="passwordConfirm"
                    >
                    @if (ifValidField('passwordConfirm')) {
                        <span class="form-text text-danger">
                            Las contraseñas deben de ser iguales
                        </span>
                    }

                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button [disabled]="myForm.pending" class="btn btn-primary float-end">Guardar</button>
                </div>
            </div>
        </form>

        <span>Formulario</span>
        <pre>{{myForm.valid}}</pre>
    </div>
</div>
<h2>USERNAME</h2>
{{myForm.controls['username'].errors |json}}

<h2>Form errors</h2>
<pre>{{myForm.errors|json}}</pre>
<h2>Form status</h2>
{{myForm.status}}

<h2>Form pending</h2>
{{myForm.pending}}